<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Acortador de URLs</h1>
        <form method="POST">
            <label for="original_url">Enter URL:</label>
            <input type="text" id="original_url" name="original_url" placeholder="http://example.com" required>
            <input type="submit" value="Shorten URL">
        </form>
        {% if short_url %}
            <div class="short-url">
                Short URL: <a href="{{ url_for('redirect_to_url', short_url=short_url) }}" target="_blank">{{ request.host_url }}{{ short_url }}</a>
            </div>
        {% endif %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            <!-- {% if messages %}
                {% for category, message in messages %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            {% endif %} -->
        {% endwith %}
    </div>
</body>
</html>
